*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, Verdana;
}
body{
    background-color: #eeeeee;
}
main{
    min-height: 80vh;
    height: auto;
    position: relative;
    padding: 2%;
}
/*
HEADER
*/
.cabeza{
    background-color: white;
    padding: 30px;
    padding-left: 20%;
    height: 10vh;
    font-size: 12px;
    border-bottom: 1px solid #c0c0c0;
}
/*
FORMULARIOS
*/
.loginbox{
    width: 650px; height: auto;
    background: white;
    color: #1769d1;
    margin: auto;
    box-sizing: border-box;
    padding: 80px 80px;
    border-radius: 30px;
    border: 1px solid #c0c0c0;
    min-height: 600px;
}
.loginbox input{
    width: 100%;
    margin-bottom: 20px;
}
.loginbox input[type="text"], input[type="password"]{
    border: none;
    border-bottom: 2px solid #1769d1;
    background: transparent;
    outline: none;
    height: 40px;
    color:gray;
    font-size: 16px;
}
/*
V EDITAR PERFIL
*/
.pEditarPerfil{
    position: relative;
    top: -50px;
    font-size: 30px;
    color:#1c2833;
}
/*
V LOGIN
*/
.pLogin{
    position: relative;
    top: -50px;
    font-size: 50px;
    text-align: center;
}
.btnIniciarSesion{
    border:none;
    outline: none;
    height: 60px;
    background: #e0e0e0;
    color:black;
    font-size: 18px;
    border-radius: 50px;
    margin-left: 110px;
    margin-top: 20px;
    padding-left: 80px;
    padding-right: 80px;
}
.btnRegistro{
    border:none;
    outline: none;
    height: 60px;
    background: #1769d1;
    color:white;
    font-size: 18px;
    border-radius: 50px;
    margin-left: 111px;
    margin-top: 20px;
    padding-left: 90px;
    padding-right: 90px;
}
.ver1{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}
.ver1 img{
    border-radius: 20%;
    height:150px; 
    width:150px;
    border:2px double #D0C000;
}
.ver1 img:hover{
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}
/*
V REGISTRO
*/
.pRegistro{
    position: relative;
    top: -50px;
    font-size: 30px;
    color:#1c2833;
}
.btnAtras{
    border:none;
    outline: none;
    height: 40px;
    background: #e0e0e0;
    color:black;
    font-size: 18px;
    border-radius: 50px;
    width: 70%;
    margin: auto;
}
.btnAtrasRest{
    border:none;
    outline: none;
    height: 40px;
    background: #e0e0e0;
    color:black;
    font-size: 18px;
    border-radius: 50px;
    width: 20%;
    margin: auto;
}
.btnAceptar{
    border:none;
    outline: none;
    height: 40px;
    background: #1769d1;
    color:white;
    font-size: 18px;
    border-radius: 50px;
    margin: auto;
    width: 70%;
}
.btnAceptarRest{
    border:none;
    outline: none;
    height: 40px;
    background: #1769d1;
    color:white;
    font-size: 18px;
    border-radius: 50px;
    margin: auto;
    width: 20%;
}
.contenedorAceptar{
    display: flex;
    justify-content: center;
    align-items: center;
}
.contenedorAtras{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 3%;
    width: 100%;
}
/*
V INICIO
*/
.vInicio{
    text-align: center;
    padding-top: 100px;
    font-size: 20px;
    color: #7d7d7d;
}
.btnCerrarSesion{
    background-color: white;
    border:none;
    position: absolute;
    top: -7.8%;
    left: 70%;
}
.btnEliminar{
    border:none;
    background-color: white;
    position: absolute;
    top: -7.9%;
    left: 65%;
}
.btnEditarPerfil{
    border:none;
    background-color: white;
    position: absolute;
    top: -8%;
    left: 60%;
}
.btnPassword{
    border:none;
    background-color: white;
    position: absolute;
    top: -7.9%;
    left: 55%;
}
.btnRest{
    border:none;
    background-color: white;
    position: absolute;
    top: -7.8%;
    left: 50%;
}
.btnMto{
    border:none;
    background-color:white;
    position: absolute;
    top: -8%;
    left: 45%;
}
.btnAjax{
    border:none;
    background-color:white;
    position: absolute;
    top: -8%;
    left: 40%;
}
/*
MANTENIMIENTO DE DEPARTAMENTOS
*/
.tMto{
    position: absolute;
    left: 15%;
    top:15%;
    width: 1300px;
}
.thMto{
    background-color:#aab7b8;
    padding: 5px;
    color:white;
}
.buscarMto{
    position: absolute;
    top:7%;
    left:24.1%;
}
.buscarMto input{
    border-radius: 50px;
    height:30px;
    position: absolute;
    left: 120%;
}
.btnMtoBuscar{
    border:none;
    outline: none;
    height: 40px;
    background: #1769d1;
    color:white;
    font-size: 18px;
    border-radius: 50px;
    padding-left: 20px;
    padding-right: 20px;
    position: absolute;
    left: 220%;
    top:-20%;
}
.btnMtoAñadirDepartamento{
    border:none;
    outline: none;
    height: 50px;
    background: #1769d1;
    color:white;
    font-size: 18px;
    border-radius: 40px;
    position: absolute;
    width: 90%;
    left: 405%;
    top:-50%;
}
.btnacb{
    border:none;
    background-color: transparent;
}
.btnMtoVolver{
    border:none;
    outline: none;
    height: 40px;
    background: #1769d1;
    color:white;
    font-size: 18px;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    bottom: 60px;
    left: 75%;
}
.btnMtoImportar{
    border:none;
    outline: none;
    height: 40px;
    background: #1769d1;
    color:white;
    font-size: 18px;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    bottom: 60px;
    left: 15%;
}
.btnMtoExportar{
    border:none;
    outline: none;
    height: 40px;
    background: #1769d1;
    color:white;
    font-size: 18px;
    border-radius: 50px;
    padding-left: 40px;
    padding-right: 40px;
    position: absolute;
    bottom: 60px;
    left: 30%;
}
/*
FOOTER
*/
footer{
    width: 100%;
    color: #a2a2a2;
    font-weight: bold;
    height: 10vh;
    padding-left: 10%;
}
footer p{
    color: #787878;
}
.iconos{
    position: relative;
    left: 50px;
    padding-right: 10px;
    padding-left: 10px;
    
    height: min-content;
}
.iconos7{
    position: relative;
    left: 50px;
    padding-right: 10px;
    padding-left: 10px;
    height: min-content;
}
footer table tr td a{
    text-decoration: none;
    color: #b4b4b4;
    width: auto;
}
/*
API POKEMON
*/
.logo{
    display: block;
    margin: auto;
    margin-bottom: 20px;
    width: 250px;
    height: 100px;
}
.contenedor{
    text-align: center;
    margin: 0 auto;
    height: 300px;
    width: 350px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}
.contenedor input{
    text-align: center;
}
.contenedor button{
    margin-top: 20px;
    margin-bottom: -30px;
}
.pokemon{
    width: 150px;
    height: 150px;
    margin: 40px auto;
    display: inline-block;
}